<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raffaelcavaliere.setlists">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.software.midi"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".authentication.BaseAuthActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.NoTitle" />
        <activity
            android:name=".authentication.GoogleSignInActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <provider
            android:name=".data.SetlistsContentProvider"
            android:authorities="com.raffaelcavaliere.setlists"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:label="SetlistsContentProvider"
            android:readPermission="com.raffaelcavaliere.setlists.READ"
            android:writePermission="com.raffaelcavaliere.setlists.WRITE">
        </provider>

        <activity
            android:name=".ui.library.ArtistEditActivity"
            android:label="@string/title_activity_artist_edit"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raffaelcavaliere.setlists.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.library.SongEditActivity"
            android:label="@string/title_activity_song_edit"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raffaelcavaliere.setlists.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.library.DocumentsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raffaelcavaliere.setlists.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.library.DocumentEditActivity"
            android:label="@string/title_activity_document_edit"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raffaelcavaliere.setlists.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.library.ArtistSongsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raffaelcavaliere.setlists.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.document.ViewerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raffaelcavaliere.setlists.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.document.SwipeViewerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raffaelcavaliere.setlists.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.document.TextEditorActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raffaelcavaliere.setlists.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.band.BandEditActivity"
            android:label="@string/title_activity_band_edit"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raffaelcavaliere.setlists.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.band.MusiciansActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raffaelcavaliere.setlists.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.band.MusicianEditActivity"
            android:label="@string/title_activity_musician_edit"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raffaelcavaliere.setlists.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.library.SetEditActivity"
            android:label="@string/title_activity_set_edit"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raffaelcavaliere.setlists.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.library.SetSongsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raffaelcavaliere.setlists.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.library.SetSongPickerActivity"
            android:label="@string/title_activity_set_song_picker"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raffaelcavaliere.setlists.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.midi.MidiMessageEditActivity"
            android:label="@string/title_activity_midi_message_edit"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raffaelcavaliere.setlists.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.midi.MidiMessagePickerActivity"
            android:label="@string/title_activity_midi_message_picker"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raffaelcavaliere.setlists.ui.MainActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/nnf_provider_paths" />
        </provider>

        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.SetlistsWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/setlists_widget_info" />
        </receiver>

        <service
            android:name=".services.SyncService"
            android:exported="false"/>

        <service android:name=".widget.SetlistsWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>

    </application>

</manifest>